{#<img class="right-content" style="text-align:center;"/>#}
<div>
    <ol class="breadcrumb">
	    <!--<li><a href="#">Home</a></li>
	    <li class="active"><a href="#">Library</a></li>-->
	    <li>首页</li>
    </ol>
    <div style="text-align:center;">
{#        <img src="{{ url_for('static', filename='image/firstPage.png') }}" width="1100px" height="550px" alt="实验平台"/>#}
        <img src="{{ url_for('static', filename='image/firstPage.png') }}" width="85%" height="550px" alt="实验平台"/>
    </div>
</div>